<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sudoku</title>
        <script language="JavaScript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
    </head>
    <body>
        <div class="back_border">
            <div class="containor">
                <div v-for="(i, index) in 9" v-bind:class="'raw raw_' + [index]">
                    <input type="text" v-for="(j, idx) in 9" :class="'colum colum_' + idx" :data-colum = "idx" :data-raw = "index" data-key = "unset" data-val = "unset">
                </div>
            </div>
        </div>


        <div class="button">Let`s SUDU</div>
        <script src="bundle.js" charset="utf-8"></script>

    </body>
</html>
