<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sudoku</title>
    </head>
    <body>
        <div class="back_border">
            <div class="containor">
                <div v-for="(i, index) in 9" v-bind:class="'raw raw_' + [index]">
                    <input type="text" v-for="(j, idx) in 9" :class="'colum colum_' + idx" :data-colum = "idx" :data-raw="index">
                </div>
            </div>
        </div>

        <div class="button">Let`s SUDU</div>
        <script src="bundle.js" charset="utf-8"></script>
    </body>
</html>
